/* Reset CSS  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Yellowtail&display=swap');


* { margin:0; padding:0; border:0; outline:0; vertical-align:top;
-webkit-text-size-adjust:none;  }
html{font-size: 18px; text-align: justify;}
html .wrap{width: 100%;}
body {font-family:'Noto Sans KR', sans-serif; color:#333;text-align: justify;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ul, ol, dl { list-style:none; }
img, video {border:0; vertical-align:top; }
a, a:link {color:#333;text-decoration:none; display: block; }
a:visited { color:#333; }
a:hover, a:active {color:#fff;text-decoration:none; }
table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; }
label { cursor:pointer; }
.blind,legend,hr,caption { display:block; overflow:hidden; position:absolute; top:0; left:-1000em; }
i,em,address { font-style:normal; font-weight:normal; }
p,li,dd{ line-height:1.5em}
.hidden, #skipNav{display: block; position: absolute; left:-1000%; top:0; width: 1px; height: 1px;
    overflow: hidden; color: #fff;}
.yellow{color: #FFD825;}
.more a{background: url(../images/Group8.png); background-repeat: no-repeat; width: 168px; height: 60px; text-align: center; color: #333; padding-top: 15px; }
.more:hover{scale: .95; transition: all .2s ease-out;}
p{font-size: 1rem;}
#section0{background: url(../images/back02.png);}
#section1, #section2, #section3, #section4{background: url(../images/back.png);}
.info_tx dd:nth-of-type(1):hover{background: #333;}
.info_tx dd:nth-of-type(1):hover .info_tx dd:nth-of-type(1) a{color: #fff;}
html #menu li.active{background: rgb(231, 220, 170);}
#menu li{
    background: rgb(255 255 255 / 0%);
}
.icon{text-align: justify; margin-bottom: 15px;}
.icon i{font-size: 2rem; color: #ccc; padding-right: 15px;}
.jinjo{margin: 15px 0;}
/*img*/
.img_box{position: relative;}
.img_box .pc{position:relative;left: 0; top:0; z-index: 10;
      width: 100%;}
.img_box .gif{position:absolute;left: 12%; top:5%; width: 76%;}
.img_box .gif_pc{position:absolute;left: 8%; top:4%; width: 85%;}
.img_box .gif_mobile{position: absolute; left: 13%; top: 11%; width: 73%;}

/*00*/
#section0 .flitem{width: 40%;}
#section0 .img_box01 {width: 32%;margin: 0 5% 0 12%;}
#section0 .img_box01 img{border-radius: 40% 30% 60% 50% / 50% 15% 40% 20%;}
#section0 p {font-size: 5rem;text-align: left; font-weight: 500; margin-left: -10px;  font-family: "Boogaloo", sans-serif;
    font-weight: 400;
    font-style: normal; margin: -20px 0 20px;}
#section0 dl{margin-bottom: 20px;}
.sec0_flex{display: flex; gap: 15px;}
.sec0_flex a{padding: 5px 30px;border: 2px solid #333; border-radius: 20px;}
.sec0_flex a:hover{background: #333;}

/*01*/
.sec_flex{display: flex; align-items: center}
.flitem{width: 50%;}
.img_box01{width: 32%; margin: 0 5% 0 6%;}
.color dd{width: 40px; height: 40px;border-radius: 50%; float: left; margin-right: 10px;}
.color dd:nth-of-type(1){background: #3D5F5D;}
.color dd:nth-of-type(2){background: #92B929;}
.color dd:nth-of-type(3){background: #333;}
h3{text-align: justify;}
dl{text-align: justify;}
.info_tx dt{font-size: 2rem; float: left; margin-bottom: 15px; font-weight: 600;}
.info_tx dd:nth-of-type(1){float: right; border: 2px solid #333; border-radius: 20px; padding: 5px 20px; margin-top: 8px;}
.info_tx dd:nth-of-type(2){clear: both;}
.make_time{clear: both;}
dl dt{font-size: 1.11rem; font-weight: 500; margin-bottom: 5px;}
.dl_flex{display: flex; gap: 5%; margin: 40px 0;}
.qr_img{width: 20%;}
.qr_img img{width: 100%;}
.skill_flex{display: flex; justify-content: space-between}
/*02*/
.img_box .gif_mobile{position: absolute; left: 13%; top: 11%; width: 73%;}
.img_box02{width: 16%; margin: 0 11% 0 16%;}

/*03*/
.img_box .gif{position:absolute;left: 12%; top:5%; width: 76%;}
.er02{width: 30%; position: absolute; right: -20px; bottom: 0; z-index: 50;}
.er03{width: 10%; position: absolute;right: -20px; bottom: 0; z-index: 50;}
#section1 .color dd:nth-of-type(1){background: #0E0E0F;}
#section1 .color dd:nth-of-type(2){background: #FFD825;}
#section1 .color dd:nth-of-type(3){background: #333;}

/*04*/
#section4 .img_box .gif_pc{position : inherit;width: 100%; border-radius: 15px;}
#section4 .info_tx{margin-bottom: 30px;}
