.content{width: 100%;}
.content_area{width: 90%; margin: 100px auto;}
.so{background: #fff; box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .2); border-radius: 15px;}
.so dl dt{font-size: 1.3rem; font-weight: 700; color: #3D5F5D; padding: 20px 0;text-align: center;}
.so dl dd{color: #666; text-align: justify; padding: 0 20px 15px;}
.content_area img{width: 100%; border-radius: 15px 15px 0 0;}
.musium{padding: 20px 10px 50px;}

html .swiper-pagination-fraction{bottom: -20px;}
html .swiper-pagination-bullet-active{background: #3D5F5D;}