/* 와이드 pc  */
#content h3{font-size: 2.22rem; color: #FFD825;text-align: center; margin-bottom: 80px;}
#imgBG{display: block;
	position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
   left:50%;
   top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
   width:auto;
   min-width:100%; /*동영상 너비를 꽉차게*/
   height:auto;
   min-height:100%; /*동영상 높이를 꽉차게*/
  transform:translateX(-50%) translateY(-30%);
   z-index:-100;
   ;
}

.down{display: block; font-size: 20px; position: absolute; 
   left:50%; margin-left: -90px; bottom: 10%;
  animation:ani 1s infinite  alternate;}
@keyframes ani {
  0% { transform:scale(1); opacity:1; color:#fff;}
  100% { transform:scale(1.1); opacity:0.9; color:#888;}
}	
.downlod{margin-top: 600px; width: 100%;background-size: cover;background-repeat: no-repeat;overflow: hidden; background-position: center center;background: url(../images/bg-play-er.jpg);height: 600px;}
.downlod p{text-align: center;font-size: 1.39rem;margin-bottom: 18px;}
.downlod p:nth-of-type(1){margin-top: 150px;}
.downlod .erprnw{font-size: 1.94rem;}
.kakao{background: url(../images/logo-kakao-white.svg); width: 220px; height: 60px; background-repeat: no-repeat; background-size: contain; display: block;}
.styeam{background: url(../images/logo-steam-white.svg);width: 220px; height: 60px; background-repeat: no-repeat; background-size: contain; display: block;}
.downlod_flex{display: flex; gap: 5%;align-items: stretch;justify-content: center;margin-top: 120px;}
	
#content{ width:100%; margin:0; height:auto; background:#0E0E0F;position: relative;  }
#content h2{position: absolute; top: -400px; 
   text-indent: -9999%;
   background: url(../images/er-logo-white.png); 
   background-repeat: no-repeat;  width: 600px;  height: 200px;
   object-fit: cover;
   background-size: contain; position: relative; margin: 0 auto; display: none;
   }
.qwer{border: 3px solid #FFD825;}
/*섹션 1*/
.sec01 h3{padding: 100px 0 50px;}
.sec01 .con_wrap{background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/mode/mori.webp); 
   background-repeat: no-repeat;
   width: 100%;   
   background-size: cover;
}
.sec01 .con_wrap ul{display: flex; margin: 0 auto; width: 80%;justify-content: center; align-items: center; gap: 5%; padding: 100px 0;}
.sec01 .con_wrap ul li{width: 45%;}
.sec01 .con_wrap ul li video{width: 100%;}
.sec01 .con_wrap ul li p{text-align: justify; font-size: 1.11rem;}
.sec01 .con_wrap ul li p:nth-of-type(1){margin-bottom: 50px;}

.map_p{font-size: 2.22rem; color: #FFD825; font-weight: 700; text-align: center; padding: 50px 0;}
.map_info{margin-top: 200px; }
.swiper-slide p{text-align: center; margin-top: 30px; font-size: 1.11rem;}
.swiper-slide img{width: 100%;}


/*섹션 2*/
.sec02{margin-top: 300px;}
.sec02 h3{padding: 100px 0 50px;}
.sec02 .con_wrap{background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/mode/Rectangle32.png); 
   background-repeat: no-repeat;
   width: 100%;   
   background-size: cover;
}
.sec02 .con_wrap ul{display: flex; margin: 0 auto; width: 80%;justify-content: center; align-items: center; gap: 5%; padding: 100px 0;}
.sec02 .con_wrap ul li{width: 45%;}
.sec02 .con_wrap ul li video{width: 100%;}
.sec02 .con_wrap ul li p{text-align: justify; font-size: 1.11rem;}
.sec02 .con_wrap ul li p:nth-of-type(1){margin-bottom: 50px;}

.map_p{font-size: 2.22rem; color: #FFD825; font-weight: 700; text-align: center; padding: 50px 0;}
.map_info{margin-top: 300px; }
.swiper-slide p{text-align: center; margin-top: 30px; font-size: 1.11rem;}
.sec02 .swiper-slide img{width: 100%;filter: brightness(1.1);}
/*섹션3*/

/*섹션4*/
.downlod {margin-top: 300px;}
/*섹션 5*/
.intro{width: 90%; margin: 250px auto 0; padding-bottom: 100px;}
.intro a{width: 40%; height: 400px; display: flex; justify-content: center; align-items: center;}
.intro a i{font-size: 5rem;color: #f00; transition: all .3s ease-out;}
.intro ul{width: 100%; display: flex; flex-wrap: wrap; justify-content: center; gap: 5%;}
.intro ul li{width: 40%; height: 400px;}
.intro ul li p{text-align: center; font-size: 1.11rem; margin-top: 20px;}
.intro ul li:nth-of-type(1){background: url(../images/mode/mode_yutube01.jpg); background-repeat: no-repeat;background-size: cover; background-position: center;}
.intro ul li:nth-of-type(2){background: url(../images/mode/mode_yutube02.jpg); background-repeat: no-repeat;background-size: cover; background-position: center;}
.intro ul li a{display: flex; width: 100%;}
.intro ul li:hover i{font-size: 4.5rem;}
.big{position: fixed; left: 50%;top:50%; transform: translate(-50%,-50%);  z-index: 20; 
   background: #fff;width: 60%;
   padding-bottom: 28.25%; display: none;
   padding-top: 30px; height:0; overflow: hidden;box-sizing: border-box;
   outline: 5px double rgb(241 255 253);;outline-offset: 5px;
   box-shadow: 0px 0px 50px 0px #9ed2db; 
   box-shadow: 0px 0px 50px 0px #9ed2db;
}
.big iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}   
.box{width: 100%; height: 100%; background: rgba(0,0,0,.7); position: fixed; left: 0; top: 0; display: none; z-index: 10;}

/* 일반 pc */
@media screen and (max-width:1280px) {
   /*섹션1*/

   /*섹션2*/
  
   /*섹션3*/
   .intro{width: 100%;}
   .intro ul{justify-content: space-evenly}
   .intro ul li a{height: 350px;}
   .intro ul li {width: 45%;height: 350px;}
   .big{width:70%; padding-bottom: 35.25%;}
}


/* 테블릿 */
@media screen and (max-width:1024px) {
	#content h3{font-size: 1.67rem; margin: 0;}
   .down{margin-left: -50px;}
   .downlod{margin-top: 240px;}
   .downlod p{text-align: center;font-size: 1.11rem;}
   .downlod p:nth-of-type(1){margin-top: 20%;}
   .downlod .erprnw{font-size: 1.67rem;}


   /*섹션1*/
   .sec01 .con_wrap ul{display: block;}
   .sec01 .con_wrap ul li:nth-of-type(1){width: 80%; margin: 0 auto;}
   .sec01 .con_wrap ul li:nth-of-type(2){width: 80%; margin: 0 auto;}
   .sec01 .con_wrap ul li p{text-align: center;}
   .sec01 .con_wrap ul li p:nth-of-type(1){margin: 50px 0;}
   .map_info{margin-top: 150px;}

   /*섹션2*/
   .sec02{margin-top: 200px;}
   .sec02 .con_wrap ul{display: block;}
   .sec02 .con_wrap ul li:nth-of-type(1){width: 80%; margin: 0 auto;}
   .sec02 .con_wrap ul li:nth-of-type(2){width: 80%; margin: 0 auto;}
   .sec02 .con_wrap ul li p{text-align: center;}
   .sec02 .con_wrap ul li p:nth-of-type(1){margin: 50px 0;}
   /*섹션3*/
  
   /*마지막 섹션*/
   .intro ul{margin-top: 50px;}
   .intro ul li a{height: 300px;}
   .intro ul li {width: 47%;height: 300px;}
   .intro ul li:nth-of-type(3){margin-top: 9%;}
   .big{width:80%; padding-bottom: 40.25%;}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
	.btn_768 {width: 30px ;height: 80px; border: 3px solid#ccc; border-radius: 20px; position: absolute; left: 50%;transform: translate(-50%);bottom: 10%;}
   .btn_768 div{width: 24px; height: 25px;background: #ccc; border-radius: 50%; position: absolute; left: 50%; transform: translate(-50%);bottom: 9%; animation:ani2 1s infinite  alternate;}
   @keyframes ani2 {
      0% { bottom: 0;}
      100% { bottom: 50px;}
   }	
   #imgBG{display: block;
      position:fixed; /*고정=>fixed/ 스크롤처리=>absolute */
      left:50%;
      top:50%; /*오른쪽, 아래에 여백을 두지않고 꽉차게 표시*/
      width:auto;
      min-width:100%; /*동영상 너비를 꽉차게*/
      height:auto;
      min-height:100%; /*동영상 높이를 꽉차게*/
     transform:translateX(-50%) translateY(-50%);
      z-index:-100;
      ;
   }
   html .down{display: none;}
   .downlod{margin-top: 200px;}
   .downlod p:nth-of-type(1){margin-top: 30%;}
   .kakao{background: none;}
   .styeam{background: none;}
   .box_01{width: 47%; margin:  2% 1% 2%;}
   .none768{display: none;}
   .move_top {padding-top: 0;}

   /*섹션 1*/
   .sec01 .con_wrap ul{width: 95%;}
   .sec01 .con_wrap ul li p{font-size: 1rem;}
   .map_info{margin-top: 100px;}

   /*섹션 2*/
   .sec02{margin-top: 100px;}
   .sec02 .con_wrap ul{width: 95%;}
   .sec02 .con_wrap ul li p{font-size: 1rem;}
   .map_info{margin-top: 100px;}
   .intro ul{display: block; margin-top: 100px;}
   .intro ul li {width: 90%; height: 400px; margin: 0 auto 100px;}
   .intro ul li a{height: 400px;}
   .big{width:90%; padding-bottom: 50.25%;}
   /*섹션 3*/
   
   /*마지막 섹션*/
  
}

/* 모바일 */
@media screen and (max-width:640px) {
   .game_mode{margin-top: 150px;}
   .downlod p:nth-of-type(1) {margin-top: 15%;}
   .downlod_flex{margin: 0;}
   .downlod{height: auto; margin-top: 150px;}
   .downlod p{font-size: .78rem;}
   .downlod .erprnw {font-size: 1.39rem;}

   /*섹션1*/
   .sec01 .con_wrap ul{width: 100%;}
   .sec01 .con_wrap ul li:nth-of-type(1){width: 95%;}
   .sec01 .con_wrap ul li:nth-of-type(2){width: 95%;}
   .sec01 .con_wrap ul li p{font-size: .78rem;}

   /*섹션2*/
   .sec02 .con_wrap ul{width: 100%;}
   .sec02 .con_wrap ul li:nth-of-type(1){width: 95%;}
   .sec02 .con_wrap ul li:nth-of-type(2){width: 95%;}
   .sec02 .con_wrap ul li p{font-size: .78rem;}

   .intro{margin: 200px auto 0;}
   .intro ul li{width: 95%; height: 350px;}
   .intro ul li a{height: 350px;}
}

@media screen and (max-width:480px) {
   #content h3{font-size: 1.39rem;}
   .downlod{margin-top: 100px; }
   .downlod p:nth-of-type(1){font-size: .7rem; margin-top: 20%;}
   .downlod p:nth-of-type(2){font-size: .7rem;}
   .downlod .erprnw{font-size: 1rem;}
   .downlod_flex{margin: 0;}   

   /*섹션1*/
   .sec01 .con_wrap ul{padding: 50px 0;}
   .sec01 .con_wrap ul li p{text-align: justify;}
   .sec01 .con_wrap ul li p:nth-of-type(1){margin: 30px 0;}
   .map_info{margin-top: 0;}
   /*섹션 2*/
   .sec02 .con_wrap ul{padding: 50px 0;}
   .sec02 .con_wrap ul li p{text-align: justify;}
   .sec02 .con_wrap ul li p:nth-of-type(1){margin: 30px 0;}
   .sec02 h3{padding: 50px 0 50px;}
   /*섹션 3*/


   .intro ul{margin-top: 50px;}
   .intro {margin: 120px auto 0;}
   .intro ul li {height: 200px;}
   .intro ul li a{height: 200px;}
   .intro ul li a i{font-size: 3rem;}
   .intro ul li p{font-size: .78rem;}
   
}