@charset "utf-8";
/* 비주얼 영역 */
.visual{width: 2000px; position: relative; top: 0; left: 50%; transform: translateX(-50%);margin-top: 160px; background: black;}

.gallery{position:relative;left:0; top:0; overflow:hidden; width:2000px; height:891px;}
.gallery li{display:none;}

.gallery img{animation: ani 30s linear infinite;}
@keyframes ani {
    from {transform: scale(1);}
    to {transform: scale(1.3);}
}

.gallery li{color: #fff;  }
.gallery li span{font-size: 3.75rem; font-weight: 700; font-style: italic; position: absolute; left: 100px; top: 550px; opacity: 0;}
.gallery li p{font-size: 1.88rem;position: absolute; left: 100px; top: 660px; opacity: 0;}
.gallery .link2 span{text-shadow: 2px 2px 15px 2px rgba(0,0,0,.2);}


.dock{width:1000px; position:absolute; left: 100px; bottom: 100px;}
.dock .mbutton{ margin-right:15px; cursor:pointer; display:block; float:left; width:10px; height:5px; background: #fff; transition: all .5s; border-radius: 5px;}
.dock .ps{ margin-right:15px; margin-top: -11px; cursor:pointer; display:block; float:left; width:25px; height:25px;}
.dock .ps i{font-size: 30px; color:#fff;}   
.visual .btn{display: block; width: 40px; height: 100px; background: #fff; position: absolute;  top:150px;cursor:pointer; }
.visual .btnLeft{left:50%; margin-left: -490px;}
.visual .btnRight{left:50%; margin-left: 450px;}    
/* 본문 컨텐츠 영역 */


#content{width: 100%;}
#content h3{font-size: 3.75rem; font-weight: 700;}
#content .exhibition{width: 100%; background: rgb(61, 95, 93); margin: 0 auto;}
#content .exhibition .chapter1{width: 1600px; background: rgb(61, 95, 93); margin: 0 auto; overflow: hidden; position: relative;}
#content .exhibition .chapter1 h3{color: #fff; text-align: center; margin: 100px 0 100px;}
#content .exhibition .chapter1_menu{width: 1080px; background: #e3e6c5; display: flex;}
#content .exhibition .chapter1_menu li{width: 270px;text-align: center;}
#content .exhibition .chapter1_menu a{font-weight: 600; font-size: 1.75rem;color: #3d5f5d; padding: 15px 0;}
#content .exhibition .chapter1_menu a:hover, #content .exhibition .chapter1_menu .current{background: #bfc393; color: #fff;}

#content .exhibition .chapter1 img{position: absolute; left: 115px; top: 390px; box-shadow: 2px 2px 15px 2px rgba(0,0,0,.4) ;}
#content .exhibition .chapter1_box{margin: 0 0 165px 520px;}
#content .exhibition .chapter1_main_text{width: 1080px; height: 480px; background: #e3e6c5;}
#content .exhibition .chapter1_main_text dl {margin-top: 90px;}
#content .exhibition .chapter1_main_text dt{font-size: 1.88rem; font-weight: 600; color: #3d5f5d;}
#content .exhibition .chapter1_main_text dd{width: 560px; margin-top: 40px; text-align: justify; line-height: 1.5em;}
#content .exhibition .chapter1_main_text dd a{position: absolute; right: 77px; bottom: 50px; font-size: 1.25rem; text-decoration: underline; font-weight: 700;}
#content .exhibition .chapter1_main_text li{margin-left: 440px; overflow: hidden;}
#content .exhibition .chapter1_main_text li{display: none;}
#content .exhibition .more {width: 200px; background: #fff;  margin: 0 auto 100px;
              text-align: center;padding: 15px 0; border-radius: 15px; font-size: 1.1em;
             font-weight: 500;box-shadow:1px 1px 15px 2px rgba(0,0,0,.3) ; transition: all .5s ease-out;}
#content .exhibition .more:hover{background: #92b929; color: #fff;}


/* event */
#content .event{width: 1600px; margin: 0 auto;}
.event_container{display: flex; justify-content: center;}
#content .event p{text-align: center; font-size: 1.2em;}
#content .event h3{text-align: center; margin: 120px 0 20px; }
#content .event li{margin: 125px 30px 200px 0; overflow: hidden;border-radius: 30px 30px 0 0; position: relative;}
#content .event li:last-child{margin-right: 0;}
#content .event li img{transition: all .5s ease-out;}
#content .event li:hover img{transform: scale(1.2); filter: grayscale(100%);}
#content .event li dl{width: 380px; height: 662px; background: rgba(0,0,0,.6);
      position: absolute; left:0; top:570px; transition: all .5s ease-out;}
#content .event li:hover dl{top:0}
#content .event li dt{font-size: 1.75rem; color: #fff; text-align: center; 
    font-weight: 500; margin: 25px 0; transition: all .5s ease-out;}
#content .event li:hover dt{margin-top: 150px;}
#content .event li dd{width: 270px; font-size: 1rem; color: #fff; margin:0 50px;
              text-align: justify; line-height:1.5em;}
#content .event li dd a{width: 150px; background: #fff; color: #333; margin: 0 auto;
       text-align: center; padding: 10px 0; margin-top: 50px; border-radius: 15px;transition: all .5s ease-out;}
#content .event li dd a:hover{background: #92b929; color: #fff;}       



#content .who{width: 100%; height: 550px; overflow: hidden;
    background: url(../mainimages/index03.jpg) center;
    background-size:cover; background-attachment: fixed;}
#content .who p{font-size: 3em; color: #fff; text-align: center;
    margin: 250px 0 0 0;}
#content .who ul{display: flex; flex-flow: row nowrap;justify-content:center ;gap: 30px;
   margin-bottom: 50px; }
#content .who li{width: 200px;}
#content .who li a{padding: 15px 0; text-align: center; background:rgba(255,255,255,.6);
    color: #333;border-radius: 10px;font-weight: 600;font-size: 1.3em; }
#content .who span{display: block; text-align: center; font-size: 2em;color: #fff;}

#content .info{width: 2000px; height:1380px ; position: relative; overflow: hidden;
       top:0; left: 50%; transform: translateX(-50%);}
#content .info h3{margin: 250px 0 60px 200px}
#content .info ul{margin-left: 200px; position: relative; z-index: 10;}
#content .info li{width: 550px;border-bottom: 2px solid #3d5f5d; padding: 20px; transition: all .5s ease-out;}
#content .info li:hover{width: 800px; height: 100px;background:#3d5f5d ; color: #fff; box-shadow: 1px 1px 15px 2px rgba(0,0,0,.4); border-radius: 0 50px 50px 0 ;}
#content .info li dl{overflow: hidden;}
#content .info li dt{font-size: 1.7em; font-weight: 700; float: left;transition: all .5s ease-out; }
#content .info li:hover dt{font-size:2em ; margin: 20px 0 0 50px;}
#content .info li dd{display: none;width:500px;margin:10px 0 0 150px; line-height: 1.5em;}
#content .info li:nth-child(4) dd{margin-left: 270px;}
#content .info li:nth-child(5) dd{margin-left: 230px;}
#content .info li:hover dd{display: block;}
#content .info li dd a{color: #3d5f5d; margin-top: 10px; padding: 2px 0;font-weight: 600;
         background: #fff; text-align: center; width: 100px; border-radius: 15px; transition: all .3s ease-in-out;}
#content .info li:nth-child(1) a{margin-left: 500px;}
#content .info li:nth-child(2) a{margin: 35px 0 0 500px;}
#content .info li:nth-child(3) a{margin: 35px 0 0 500px;}
#content .info li:nth-child(4) a{margin: 35px 0 0 390px;}
#content .info li:nth-child(5) a{margin: 35px 0 0 430px;}
#content .info li a:hover{background: #92b929; color: #333;}

#content .info img{position: absolute; right: 0; top:280px; border-radius: 200px 0 0 200px;
          box-shadow: 1px 1px 15px 2px rgba(0,0,0,.4); transition: all .5s ease-in-out;}

#map.chapter5{width: 1600px; margin: 0 auto;}
#map{width: 100%; background: rgb(0,0,0); margin: 0 auto;}
#map .chapter5{width: 2000px; background: rgb(0,0,0); overflow: hidden;position: relative; left:50%; transform: translateX(-50%); }
#map .chapter5 h3{color: #fff; margin:95px 0 75px 200px;}
.chapter5 dl{background: #333; width: 700px; height: 540px; border-radius: 0 100px 100px 0; overflow: hidden; margin: 0 0 215px -100px; transition: all .5s ease-in-out; color: #ececec;}
.chapter5 dl a{color: #ececec; transition: all .5s ease-in-out;}
.chapter5 dl:hover{background: #e3e6c5; color: #333; margin-left: 0;}
.chapter5 dl:hover a{color: #333;}
.chapter5 img{position: absolute; left: 1000px; top: 200px;}
.chapter5 dt{font-size: 2.50rem; font-weight: 600; margin: 110px 0 0 540px;}
.chapter5 dd{font-size: 1.25rem; width: 400px; font-weight: 500; text-align: justify; margin: 30px 0 0 200px;}

.chapter5 .map_section{display: none;}
.chapter5 .map_btn{float: left; margin: 10px; background:rgba(255,255,255,.4); width: 20px; height: 20px; 
    border-radius: 50%; margin-bottom: 100px; cursor: pointer;}

.map_btn_box .map1{margin-left: 950px;}
