body #content{width: 100%; margin: 0 auto;}
.content_area p{padding: 70px 0; text-align: justify; font-size: 1.3rem;line-height: 2.5rem; width: 1200px; margin: 0 auto; margin-bottom: 200px;}
.content_area p span{font-size: 2.5rem; color:#3D5F5D ; font-weight: 500;}
.swiper-slide{margin-left: 3px;}
.box1{margin-bottom: 200px;}