.history li{margin: 100px auto;width: 100%; text-align: center;}
.history li img{width: 90%; border-radius: 20px;}
.history li dl{text-align: justify; width: 90%; margin: 30px auto 80px;}
.history li dl dt{color: #3D5F5D; font-size: 1.3rem; margin-bottom: 20px;}
.history li dl dt i{margin-right: 10px;}
