.content_area {margin: 100px 0 125px 0;}
.content_area .table{border-collapse: collapse; text-align: center;}
.table01{margin-top: 50px;}
.table01 td{border: 1px solid #e2e2e2; height: 100px; width: 320px; text-align: center;}
.table01 th{border: 2px solid #fff; color: #333; font-size: 1.3rem; font-weight: 500; height: 80px; background: #bbd4d7;}
.parking{background: #3D5F5D; width: 250px; height: 40px; display: flex; float: right; margin-top: 130px;}
.parking a{color: #fff; margin-top: 10px;justify-content: center; padding-left: 55px;}

.info{width: 1400px; height: 350px; background: #fafafa; overflow: hidden; margin: 300px 0 100px;}
.info li{list-style: disc; margin-left: 100px; line-height: 1.8em;}
.info ul{margin-top: 80px;}

.table02 td{border: 1px solid #e2e2e2; height: 100px; width: 350px; text-align: center;}
.table02 th{border: 2px solid #fff; color: #333; font-size: 1.3rem; font-weight: 500; height: 80px; background: #bbd4d7;}

.wic{width: 1398px; border: 1px solid #3D5F5D; font-size: 1.25rem; height: 170px; margin: 50px 0 160px 0;}
.wic img{float: left; padding: 32px 60px;}
.wic li:nth-last-of-type(2){padding-top: 50px;}

.wic02{margin: 160px 0 300px 0;}
.wic02 dt{font-size: 1.88rem; color: #3D5F5D; font-weight: 600; margin-bottom: 40px;}
.wic02 dd{margin-left: 40px;}

.h3_info{font-size: 2rem; color: #3D5F5D;}

.sequence{position: relative;}
.sequence li{margin-bottom: 180px;}
.sequence img{box-shadow: 2px 2px 15px 2px rgba(0,0,0,.4); border-radius: 50%;}
.sequence dl{width: 675px; float: right; margin: 80px 100px 0 0;}
.sequence dt{font-size: 2.19rem; font-weight: 800; margin-bottom: 30px;}
.sequence dd{font-size: 1.25rem;}


.sequence ul{margin-top: 100px;}